doctype html
html(lang='en', ng-app="masterModule")
	head
		meta(charset="utf-8")
		title What the Fuck?
		link(rel="stylesheet", href="stylesheets/nav.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		block extraHeader


	body
	
		nav
			div(class="nav-wrapper")
				a(href="#", class="brand-logo") Logo
				ul(id="nav-mobile", class="right hide-on-med-and-down")
					li
						a(href="sass.html")
					li
						a(href="badges.html") Components
					if user 
						li(ng-click="redirectLogout()")
							a(href="collapsible.html") Logout
					else
						li(ng-click="redirectLogin()")
							a Login



		block loginContent

		block test 



		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="modules/mastermodule.js")
		script(src="modules/profilemodule.js")
		block scripts

		