doctype html
html(lang='en', ng-app="masterModule")
	head
		meta(charset="utf-8")
		title Open-Wifi
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
		link(rel="stylesheet", href="stylesheets/nav.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		block loginHeader
		block profileHeaders
		block searchHeaders


	body(style="margin : 0px")
	
		nav(ng-controller="loginController")
			div(class="nav-wrapper")
				a(href="#/search", class="brand-logo")
					img(src="images/logo.png", style="width:60px;height:50px")
				ul(id="nav-mobile", class="right hide-on-med-and-down")
					li
						a(href="#/")
					li
						a(href="#/search") Home



					li
						a(href="#/search") Search 

					li(ng-show="userContainer.user")
						a(ng-href="#/profile/{{userContainer.user.username}}") My Profile

					li(ng-click="logoutUser()", ng-show="userContainer.user")
						a(href="") Logout
					
						//- to redirect to login page simply use anchor tag...
					li(ng-show="!userContainer.user")
						a(href="#/login") Login 

					li
						a(href="#/myaccount") My Account 


		

		block content 


		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
		script(src="modules/mastermodule.js")
		script(src="modules/profilemodule.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js")
		block scripts

		