block searchHeader
	link(rel="stylesheet", href="stylesheets/search.css")


div.searchTitleText
	h1 Where Do You Live?

div.textAreaBox
	textarea(type="text" placeholder="Search for Hosted WiFi by Location", ng-model="search")

div.searchResultCard
	ul.collection(ng-repeat="profile in profiles | filter:search | limitTo: 10")
				li(class="collection-item avatar")
					img(src="images/default_profile_pic.jpg", class="circle")
					a(href="#/profile/{{profile.username}}") {{profile.name}}
					p Location : {{profile.location}}
					p {{profile.status}} 
					p {{profile.description}}
