block searchHeaders
	link(rel="stylesheet", href="stylesheets/search.css")


div.searchContainer
	div.spacer
		h1 Search for Open-Wifi by Location

div.searchBox
	input(type="text" placeholder="Search", ng-model="search")

div.searchResultsBox
	ul.collection(ng-repeat="profile in profiles | filter:search | limitTo: 5")
				li(class="collection-item avatar")
					img(src="images/default_profile_pic.jpg", class="circle")
					a(href="#/profile/{{profile.username}}") {{profile.name}}
					p {{profile.location}}
					p {{profile.status}} 