

/*============== CSS Not yet Modularized =========================================*/


.profile-top {
	background-color: white;
	width: 85%;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 10px 0px #000000;
	word-wrap: break-word;
	padding-left: 15px;
	padding-top: 30px;
	height: 450px;
	margin-left: 8%;
	z-index: -1;
}
.profileCard {
	/*margin-left: 12%;*/
	width: 90%;
	z-index: -1;

}


.statusText {
	text-align: center;
	color: #FF0000;
	font-family: Futura;
	padding-bottom: 20px;
}

.statusTextBox {
	background-color: white;
	width: 100%;
	border-bottom: 1px solid #aaa;
}

.statusImg {
	width: 200px;
	height: 200px;
}



.profilePicBox {
	width: 20%;
	height: 260px;
	position: relative;
	text-align: center;
	color: lightgrey;
}

.profilePicBox img {
	width: 100%;
	height: 100%;
	margin: 5px;
}

.descriptionBox {
	color: lightgrey;
	width: 65%;
	padding-left: 10px;
	margin-top: 10px;

}



.descriptionBox h1 {
	margin: 0px;

}

.buttonsBox {
	margin-top: 40px;

}

.br {
	clear: both;
	overflow: hidden;
}

/*===============================================*//*===============================================*//*===============================================*/

.ispBox {
	border-bottom: 1px solid #aaa;
	height: 450px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	color: grey;
}

.ispBox p {
	color: lightgrey;
}

.ispProviderBox {
	background-color: white;
	border-right: 1px solid #aaa;
	height: 100%;

}



.reviews {
	text-align: center;
}

.tg {
	height: 200px;
	border-collapse:collapse;
	border-spacing:0;
}

.tg td {
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.tg th { 
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	overflow:hidden;
	word-break:normal;
}

.timeLabel {
	text-align: center;
}

.wifiSchedule h3 {
	margin-bottom: 30px;
}

.tg tr .timeLabel {
	border: none;
}

.time {
	border-style:solid;
	border-width:1px; 
}



.review {
	width: 100%;
	height: 20%;
}

/*===============================================*//*===============================================*//*===============================================*/



.leaveReviewButton {
	text-align: center;
}

.leaveReviewButton a {
	width: 60%;
	margin-bottom: 30px;
}

.reviewForm {
	width: 50%;
	margin: auto;
}


.reviewWrapper {
	width: 90%;
	margin: auto;
}